In [3]:
import pandas as pd
from sodapy import Socrata

In [4]:
# Example authenticated client (needed for non-public datasets):
client = Socrata("data.texas.gov",
                 "FludNuKKhLjjwcnnoHzjGLKKb")
#                  username=EMAIL,
#                  password=PASSWORD)

In [5]:
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("naix-2893", limit=5000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [6]:
import datetime
def last_day_of_month(any_day):
    # this will never fail
    # get close to the end of the month for any day, and add 4 days 'over'
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    # subtract the number of remaining 'overage' days to get last day of current month, or said programattically said, the previous day of the first of next month
    return next_month - datetime.timedelta(days=next_month.day)

In [15]:
months1 = []
for i in range(1,13):
    inputdate = datetime.date(2019,i,1)
    month = last_day_of_month(inputdate)
    months1.append(month)

In [17]:
months2 = []
for i in range(1,13):
    inputdate = datetime.date(2020,i,1)
    month = last_day_of_month(inputdate)
    months2.append(month)

In [16]:
months1

[datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 31),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 30),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 31),
 datetime.date(2019, 9, 30),
 datetime.date(2019, 10, 31),
 datetime.date(2019, 11, 30),
 datetime.date(2019, 12, 31)]

In [18]:
months2

[datetime.date(2020, 1, 31),
 datetime.date(2020, 2, 29),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 30),
 datetime.date(2020, 5, 31),
 datetime.date(2020, 6, 30),
 datetime.date(2020, 7, 31),
 datetime.date(2020, 8, 31),
 datetime.date(2020, 9, 30),
 datetime.date(2020, 10, 31),
 datetime.date(2020, 11, 30),
 datetime.date(2020, 12, 31)]

In [20]:
all_months = months1 + months2
all_months

[datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 31),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 30),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 31),
 datetime.date(2019, 9, 30),
 datetime.date(2019, 10, 31),
 datetime.date(2019, 11, 30),
 datetime.date(2019, 12, 31),
 datetime.date(2020, 1, 31),
 datetime.date(2020, 2, 29),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 30),
 datetime.date(2020, 5, 31),
 datetime.date(2020, 6, 30),
 datetime.date(2020, 7, 31),
 datetime.date(2020, 8, 31),
 datetime.date(2020, 9, 30),
 datetime.date(2020, 10, 31),
 datetime.date(2020, 11, 30),
 datetime.date(2020, 12, 31)]

In [21]:
report_months = []
for month in all_months:
    report = month.strftime("%Y-%m-%d")+"T00:00:00.000"
    report_months.append(report)

In [22]:
report_months

['2019-01-31T00:00:00.000',
 '2019-02-28T00:00:00.000',
 '2019-03-31T00:00:00.000',
 '2019-04-30T00:00:00.000',
 '2019-05-31T00:00:00.000',
 '2019-06-30T00:00:00.000',
 '2019-07-31T00:00:00.000',
 '2019-08-31T00:00:00.000',
 '2019-09-30T00:00:00.000',
 '2019-10-31T00:00:00.000',
 '2019-11-30T00:00:00.000',
 '2019-12-31T00:00:00.000',
 '2020-01-31T00:00:00.000',
 '2020-02-29T00:00:00.000',
 '2020-03-31T00:00:00.000',
 '2020-04-30T00:00:00.000',
 '2020-05-31T00:00:00.000',
 '2020-06-30T00:00:00.000',
 '2020-07-31T00:00:00.000',
 '2020-08-31T00:00:00.000',
 '2020-09-30T00:00:00.000',
 '2020-10-31T00:00:00.000',
 '2020-11-30T00:00:00.000',
 '2020-12-31T00:00:00.000']

In [23]:
big_df = pd.DataFrame()
for report_month in report_months:
    results = client.get("naix-2893", obligation_end_date_yyyymmdd=report_month,limit=5000)
    results_df = pd.DataFrame.from_records(results)
    big_df= big_df.append(results_df)
    print(report_month)

2019-01-31T00:00:00.000
2019-02-28T00:00:00.000
2019-03-31T00:00:00.000
2019-04-30T00:00:00.000
2019-05-31T00:00:00.000
2019-06-30T00:00:00.000
2019-07-31T00:00:00.000
2019-08-31T00:00:00.000
2019-09-30T00:00:00.000
2019-10-31T00:00:00.000
2019-11-30T00:00:00.000
2019-12-31T00:00:00.000
2020-01-31T00:00:00.000
2020-02-29T00:00:00.000
2020-03-31T00:00:00.000
2020-04-30T00:00:00.000
2020-05-31T00:00:00.000
2020-06-30T00:00:00.000
2020-07-31T00:00:00.000
2020-08-31T00:00:00.000
2020-09-30T00:00:00.000
2020-10-31T00:00:00.000
2020-11-30T00:00:00.000
2020-12-31T00:00:00.000

In [24]:
big_df.head()

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,...,inside_outside_city_limits_code_y_n,tabc_permit_number,responsibility_begin_date_yyyymmdd,obligation_end_date_yyyymmdd,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts,responsibility_end_date_yyyymmdd
0,32068897456,"HC&K, LLC",7035 W GRAND PKWY S STE 10,RICHMOND,TX,77407,79,1,TOP SUSHI,7035 W GRAND PKWY S STE 10,...,Y,MB1042478,2019-01-16T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,NaN
1,32051593963,J & J ACKERMAN CORP.,PO BOX 939,GRANGER,TX,76530,246,3,COTTON COUNTRY CLUB,212 E DAVILLA ST,...,Y,RM1043516,2019-01-28T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,NaN
2,32046106475,FJ RESTAURANT INC,9300 S INTERSTATE 35 STE 8500 # 431,AUSTIN,TX,78748,227,2,TAQUERIA MEXICANO GRILLE,10207 CHINA SPRING RD STE 140,...,Y,RM1057370,2019-06-19T00:00:00.000,2019-01-31T00:00:00.000,10013,0,8648,0,18661,NaN
3,32054228120,S & KW CORPORATION,6617 CHIMNEY ROCK RD,HOUSTON,TX,77081,101,1,NAZARETH CAFE,6617 CHIMNEY ROCK RD,...,Y,MB501287,2014-08-01T00:00:00.000,2019-01-31T00:00:00.000,3212,0,2509,0,5721,NaN
4,32000861685,"FOUNTAIN FOODS, INC.",25600 WESTHEIMER PKWY STE 110,KATY,TX,77494,79,2,HARVEST ORGANIC GRILLE,1810 FOUNTAIN VIEW DR,...,Y,MB817402,2012-08-21T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,2019-06-01T00:00:00.000

In [25]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   taxpayer_number                      120000 non-null  object
 1   taxpayer_name                        120000 non-null  object
 2   taxpayer_address                     120000 non-null  object
 3   taxpayer_city                        120000 non-null  object
 4   taxpayer_state                       119912 non-null  object
 5   taxpayer_zip                         119912 non-null  object
 6   taxpayer_county                      120000 non-null  object
 7   location_number                      120000 non-null  object
 8   location_name                        120000 non-null  object
 9   location_address                     120000 non-null  object
 10  location_city                        120000 non-null  object
 11  location_state                       120000 non-null  object
 12  location_zip                         120000 non-null  object
 13  location_county                      120000 non-null  object
 14  inside_outside_city_limits_code_y_n  120000 non-null  object
 15  tabc_permit_number                   120000 non-null  object
 16  responsibility_begin_date_yyyymmdd   120000 non-null  object
 17  obligation_end_date_yyyymmdd         120000 non-null  object
 18  liquor_receipts                      120000 non-null  object
 19  wine_receipts                        120000 non-null  object
 20  beer_receipts                        120000 non-null  object
 21  cover_charge_receipts                120000 non-null  object
 22  total_receipts                       120000 non-null  object
 23  responsibility_end_date_yyyymmdd     5016 non-null    object
dtypes: object(24)
memory usage: 22.9+ MB

In [26]:
big_df.to_csv("Output/2019_2020_mixed_beverage",
                  encoding="utf-8", index=False, header=True)