In [7]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
data_all = "Output/2019_2020_mixed_beverage"


df_all = pd.read_csv(data_all, encoding="utf-8")

In [8]:
#efficient way to extract year from string format date
df_all['year'] = pd.DatetimeIndex(df_all['obligation_end_date_yyyymmdd']).year
df_all['month'] = pd.DatetimeIndex(df_all['obligation_end_date_yyyymmdd']).month
df_all.head()

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,location_city,location_state,location_zip,location_county,inside_outside_city_limits_code_y_n,tabc_permit_number,responsibility_begin_date_yyyymmdd,obligation_end_date_yyyymmdd,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts,responsibility_end_date_yyyymmdd,year,month
0,32068897456,"HC&K, LLC",7035 W GRAND PKWY S STE 10,RICHMOND,TX,77407.0,79,1,TOP SUSHI,7035 W GRAND PKWY S STE 10,RICHMOND,TX,77407,79,Y,MB1042478,2019-01-16T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,NaN,2019,1
1,32051593963,J & J ACKERMAN CORP.,PO BOX 939,GRANGER,TX,76530.0,246,3,COTTON COUNTRY CLUB,212 E DAVILLA ST,GRANGER,TX,76530,246,Y,RM1043516,2019-01-28T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,NaN,2019,1
2,32046106475,FJ RESTAURANT INC,9300 S INTERSTATE 35 STE 8500 # 431,AUSTIN,TX,78748.0,227,2,TAQUERIA MEXICANO GRILLE,10207 CHINA SPRING RD STE 140,WACO,TX,76708,161,Y,RM1057370,2019-06-19T00:00:00.000,2019-01-31T00:00:00.000,10013,0,8648,0,18661,NaN,2019,1
3,32054228120,S & KW CORPORATION,6617 CHIMNEY ROCK RD,HOUSTON,TX,77081.0,101,1,NAZARETH CAFE,6617 CHIMNEY ROCK RD,HOUSTON,TX,77081,101,Y,MB501287,2014-08-01T00:00:00.000,2019-01-31T00:00:00.000,3212,0,2509,0,5721,NaN,2019,1
4,32000861685,"FOUNTAIN FOODS, INC.",25600 WESTHEIMER PKWY STE 110,KATY,TX,77494.0,79,2,HARVEST ORGANIC GRILLE,1810 FOUNTAIN VIEW DR,HOUSTON,TX,77057,101,Y,MB817402,2012-08-21T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,2019-06-01T00:00:00.000,2019,1

In [6]:
# mask_2019 = df_all.loc[year == ]
# location_count = df_all.location_address.nunique()
# location_count

16213

In [ ]:
#create column - length of responsiblity, obligation end date minus resp start date

In [10]:
df_all[["total_receipts", 'month',"location_zip"]].corr()

                total_receipts     month  location_zip
total_receipts        1.000000 -0.013738     -0.006662
month                -0.013738  1.000000      0.000791
location_zip         -0.006662  0.000791      1.000000