In [1]:
from config import *
import pandas as pd
from sodapy import Socrata

In [13]:
# Example authenticated client (needed for non-public datasets):
client = Socrata("data.texas.gov",
                 "FludNuKKhLjjwcnnoHzjGLKKb")
#                  username=EMAIL,
#                  password=PASSWORD)

In [14]:
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("naix-2893", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [19]:
import datetime
def last_day_of_month(any_day):
    # this will never fail
    # get close to the end of the month for any day, and add 4 days 'over'
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    # subtract the number of remaining 'overage' days to get last day of current month, or said programattically said, the previous day of the first of next month
    return next_month - datetime.timedelta(days=next_month.day)

In [41]:
months = []
for i in range(1,13):
    inputdate = datetime.date(2019,i,1)
    month = last_day_of_month(inputdate)
    months.append(month)

In [42]:
months

[datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 31),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 30),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 31),
 datetime.date(2019, 9, 30),
 datetime.date(2019, 10, 31),
 datetime.date(2019, 11, 30),
 datetime.date(2019, 12, 31)]

In [43]:
report_months = []
for month in months:
    report = month.strftime("%Y-%m-%d")+"T00:00:00.000"
    report_months.append(report)

In [44]:
report_months

['2019-01-31T00:00:00.000',
 '2019-02-28T00:00:00.000',
 '2019-03-31T00:00:00.000',
 '2019-04-30T00:00:00.000',
 '2019-05-31T00:00:00.000',
 '2019-06-30T00:00:00.000',
 '2019-07-31T00:00:00.000',
 '2019-08-31T00:00:00.000',
 '2019-09-30T00:00:00.000',
 '2019-10-31T00:00:00.000',
 '2019-11-30T00:00:00.000',
 '2019-12-31T00:00:00.000']

In [45]:
big_df = pd.DataFrame()
for report_month in report_months:
    results = client.get("naix-2893", obligation_end_date_yyyymmdd=report_month,limit=5000)
    results_df = pd.DataFrame.from_records(results)
    big_df= big_df.append(results_df)
    print(report_month)

2019-01-31T00:00:00.000
2019-02-28T00:00:00.000
2019-03-31T00:00:00.000
2019-04-30T00:00:00.000
2019-05-31T00:00:00.000
2019-06-30T00:00:00.000
2019-07-31T00:00:00.000
2019-08-31T00:00:00.000
2019-09-30T00:00:00.000
2019-10-31T00:00:00.000
2019-11-30T00:00:00.000
2019-12-31T00:00:00.000

In [37]:
big_df.head()

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,...,inside_outside_city_limits_code_y_n,tabc_permit_number,responsibility_begin_date_yyyymmdd,obligation_end_date_yyyymmdd,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts,responsibility_end_date_yyyymmdd
0,32059020407,CARNIVAL LICENSE HOLDINGS LIMITED,3655 NW 87TH AVE C/O MSTX-805,DORAL,FL,33178,0,5,CARNIVAL VISTA,2502 HARBORSIDE DR,...,Y,MB938045,2018-09-23T00:00:00.000,2020-01-31T00:00:00.000,88956,5693,29932,0,124581,NaN
1,32011300103,"ABC RESOURCES, LLC",PO BOX 50550,AUSTIN,TX,78763,227,1,ABEL'S ON THE LAKE,3825 LAKE AUSTIN BLVD STE 201,...,Y,MB722393,2009-05-21T00:00:00.000,2020-01-31T00:00:00.000,24739,5859,11919,0,42517,NaN
2,32063084811,WLC GROUP LLC,3206 PATRICIA LN,PEARLAND,TX,77581,20,1,HIGH & DRY,306 MAIN ST STE 200,...,Y,MB989611,2017-07-27T00:00:00.000,2020-01-31T00:00:00.000,58065,1737,6890,0,66692,NaN
3,32057413588,WILLIE'S GRILL & ICEHOUSE LLC,10627 TOWER OAKS BLVD,HOUSTON,TX,77070,101,19,WILLIE'S GRILL & ICEHOUSE,7911 INTERSTATE 35 S,...,Y,MB980782,2017-05-03T00:00:00.000,2020-01-31T00:00:00.000,12734,120,15489,0,28343,NaN
4,17523234122,NEMA BEVERAGE CORPORATION,1201 ELM ST STE 2700 ATTN:TAX DEPT,DALLAS,TX,75270,57,13,NM CAFE,5200 MONAHANS AVE,...,Y,MB697551,2017-03-01T00:00:00.000,2020-01-31T00:00:00.000,1405,4411,76,0,5892,NaN

In [46]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   taxpayer_number                      60000 non-null  object
 1   taxpayer_name                        60000 non-null  object
 2   taxpayer_address                     60000 non-null  object
 3   taxpayer_city                        60000 non-null  object
 4   taxpayer_state                       59958 non-null  object
 5   taxpayer_zip                         59958 non-null  object
 6   taxpayer_county                      60000 non-null  object
 7   location_number                      60000 non-null  object
 8   location_name                        60000 non-null  object
 9   location_address                     60000 non-null  object
 10  location_city                        60000 non-null  object
 11  location_state                       60000 non-null  object
 12  location_zip                         60000 non-null  object
 13  location_county                      60000 non-null  object
 14  inside_outside_city_limits_code_y_n  60000 non-null  object
 15  tabc_permit_number                   60000 non-null  object
 16  responsibility_begin_date_yyyymmdd   60000 non-null  object
 17  obligation_end_date_yyyymmdd         60000 non-null  object
 18  liquor_receipts                      60000 non-null  object
 19  wine_receipts                        60000 non-null  object
 20  beer_receipts                        60000 non-null  object
 21  cover_charge_receipts                60000 non-null  object
 22  total_receipts                       60000 non-null  object
 23  responsibility_end_date_yyyymmdd     3931 non-null   object
dtypes: object(24)
memory usage: 11.4+ MB

In [47]:
big_df.to_csv("Output/2019_mixed_beverage",
                  encoding="utf-8", index=False, header=True)